In [1]:
import pandas as pd

In [4]:
df = pd.read_parquet("../data/preco_competidores.parquet")

In [11]:
df.columns

Index(['id_produto', 'nome_concorrente', 'preco_concorrente', 'data_coleta'], dtype='object')

In [5]:
df.head()

         id_produto nome_concorrente  preco_concorrente          data_coleta
0  prd_2293732b7542    Mercado Livre              65.45  2026-01-11 17:35:52
1  prd_2293732b7542           Amazon              67.52  2026-01-11 17:11:42
2  prd_2293732b7542           Shopee              70.97  2026-01-11 17:45:49
3  prd_84a009f1889d    Mercado Livre              31.25  2026-01-11 18:27:37
4  prd_84a009f1889d           Amazon              31.25  2026-01-11 16:50:51

In [6]:
df.isnull()

     id_produto  nome_concorrente  preco_concorrente  data_coleta
0         False             False              False        False
1         False             False              False        False
2         False             False              False        False
3         False             False              False        False
4         False             False              False        False
..          ...               ...                ...          ...
723       False             False              False        False
724       False             False              False        False
725       False             False              False        False
726       False             False              False        False
727       False             False              False        False

[728 rows x 4 columns]

In [9]:
df.duplicated().head(10)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [10]:
df.describe()

       preco_concorrente
count         728.000000
mean          206.284011
std           252.107360
min            15.950000
25%            63.865000
50%           114.650000
75%           227.690000
max          1471.860000